.container{
    position: relative;
   
}
.name{
    position: absolute;
    left:230px;
    top:20px;
    font-family: 'Aclonica','Adamina';
    font-size: 45px;
    font-weight: bold;
    color:white;
}
.planeimg{
    position: absolute;
    left:150px;
    top:50px;
    width:80px;
    height:80px;
    float:left;
    

}
.planeimg .name{
    display:block;
}
.topImage{
    max-width: 100%;
    height:auto;

}
.line1{
    position: absolute;
    margin:0px 10%;
    top:290px;
    left:180px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Verdana', 'sans-serif';
    font-size:40px;
    color:rgb(255, 255, 255);
}
.line2{
    position: absolute;
    margin:0px 5%;
    top:400px;
    left:250px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size:70px;
    color:rgb(255, 255, 255);
}
ul {
    position: absolute;
    top:15px;
    right:200px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: rgba(0, 0, 0, 0.185);
    box-shadow: 0 4px 8px 0 rgba(240, 83, 83, 0.884), 0 6px 20px 0 rgba(255, 252, 252, 0.979); 
}

.active {
    background-color: #4CAF50;
}

.button{
    position: absolute;
    display:block;
    margin:395px 44%;
    color: white;
    text-decoration:none;
    padding:8px 32px;
    text-align: center;
    border:solid rgba(253, 223, 223, 0.527);
    top:200px;
    box-shadow: 0px 4px 6px 0px rgba(252, 252, 252, 0.712), 0 6px 20px 0 rgba(252, 252, 252, 0.19); 
}
#knowmore{
    font-size:20px;
    font-family: Arial, Helvetica, sans-serif;
    font-stretch:expanded;
    color:rgb(247, 226, 226);
}
.button:hover{
    box-shadow: 0 4px 6px 0 rgba(181, 187, 236, 0.712), 0 6px 20px 0 rgba(54, 106, 141, 0.651); 
}
.button:active{
    box-shadow: 0 4px 6px 0 rgba(177, 103, 103, 0.87), 0 6px 20px 0 rgba(175, 56, 56, 0.616); 
}
.fst{
    font-weight:lighter;
    font-size:70px;
    font-family: 'Actor';
   
}
.snd{
    font-weight: bolder;
    font-size:70px;
    font-family: 'Actor';
}
p{
    font-family:'Alegreya Sans SC';
    font-size:17px;
    color:rgb(68, 67, 67);
}
.s2{
    margin:100px 300px;
    color: rgb(65, 63, 62);
}
.network_img{
    float: right;
}
.s3{
    margin:100px 300px;
    color: rgb(65, 63, 62);
   position: relative;
}
.dark{
    width:100%;
    height:600px;
    background-color: rgba(221, 211, 211, 0.856);
}
.idenbrand_img{
    float: left;
    margin:5px;
}
.para{
    position:absolute;
    top:200px;
}
.iden_brand{
    position:absolute; 
top:70px;
right:10px;
}
.s4{
    width:85%;
    height:350px;
    padding:100px 100px;
    position:relative;

}

.b1{
    float:left;
    height:60px;
    width:60px;
    margin:3px;
    border-radius: 50%;
}
.db1{
    position: absolute;
    padding:0;
    margin:0 50% 0 40px;
}
.b4{
    float:left;
    height:60px;
    width:60px;
    margin:3px;
    border-radius: 50%;
}
.db4{
    position: absolute;
    padding:0;
    margin:0 60px 0 50%;
}
.b2{
    float:left;
    height:60px;
    width:60px; 
    margin:3px;
    border-radius: 50%;
}
.db2{
    position: absolute;
    padding:0;
    margin:8% 50% 0 40px;
}
.b5{
    float:left;
    height:60px;
    width:60px;
    margin:3px;
    border-radius: 50%;
}
.db5{
    position: absolute;
    padding:0;
    margin:8% 60px 0 50%;
}
.b3{
    float:left;
    height:60px;
    width:60px; 
    margin:3px;
    border-radius: 50%;
}
.db3{
    position: absolute;
    padding:0;
    margin:16% 50% 0 40px;
}
.b6{
    float:left;
    height:60px;
    width:60px;
    margin:3px;
    border-radius: 50%;
}
.db6{
    position: absolute;
    padding:0;
    margin:16% 60px 0 50%;
}
.light{
    background-color: azure
}
.s5{
    width:80%;
    height:400px;
    padding:100px 150px;
    position:relative;
}
.clients{
    position: absolute;
    top:5px;
    left:38%;
}
.subc{
    font-family:'Alegreya Sans SC';
    color:rgb(85, 73, 73);
    font-size:23px;
    position:relative;
    left:15px;
}
.c1{
    border:solid 10px whitesmoke;
    border-radius:50%;
    width:260px;
    height:260px;
    position:absolute;
    left:100px;  
}
.svg1{
    position: absolute;
    left:450px;
    top:160px;
}
polygon{
    border: transparent;
    fill:rgba(252, 222, 222, 0.808);
    stroke:rgba(43, 42, 42, 0.76);
    stroke-width:2;
    stroke-linecap:"round";
    stroke-opacity: 0.4;
}

.comment1  p{
    position: relative;
    top:80px;
    left:340px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    font-size:20px;
}
.comment1 p a{
    font-size:18px;
}
.c2{
    border:solid 10px whitesmoke;
    border-radius:50%;
    width:260px;
    height:260px;
    position:absolute;
    right:100px; 
    top:300px; 
}
.svg2{
    position: relative;
    left:320;
    top:170px;
}
.comment2  p{
    position: relative;
    top:50px;
    left:340px;
    font-family: 'Verdana, Geneva, Tahoma, sans-serif';
    font-size:20px;
}
.comment2 p a{
    font-size:18px;
}
.sponsors{
    width:100%;
    height:60px;
    padding:80px 110px;
    position:relative;
}
.sp{
    height:70px;
    width:300px;
}
.black{
    background-color: rgb(0, 0, 0);
}
.s6{
    width:80%;
    height:600px;
    padding:100px 150px;
    position:relative;
}
.team{
    position: absolute;
    top:50px;
    left:38%;
    color:white;
}
.subt{
    font-family: 'Alegreya Sans SC';
    color:rgb(85, 73, 73);
    font-size:21px;
    position:relative;
    left:0px;
    color:rgb(201, 200, 200);
}
.at1{
    position:absolute;
    top:230px;
    left:330px;
    border:transparent;
    background-color: rgba(2, 2, 2, 0.849);
    height:420px;
    width:300px;
}
.t1{
    position:absolute;
    width:250;
    height:250;
    display:block;
    border-radius: 50%;
    top:0px;  
    left:30px; 
}
#t1n1{
    position:absolute;
    color:white;
    font-size: 19px;
    font-style: bold;
    font-family: 'Alegreya Sans SC';
    top:240px;
    padding:0 70px;
}
#t1n2{
    position: absolute;
    color:white;
    font-size:18px;
    font-family: 'Alegreya Sans SC';
    top:275px;
    padding:0 110px;
}
.t1b{
    position:absolute;
    top:350px;
    left:55px;
}
#ts{
    height:60px;
    width:60px;
}
.at2{
    position:absolute;
    top:230px;
    left:620px;
    border:transparent;
    background-color: rgba(2, 2, 2, 0.849);
    height:420px;
    width:300px;
}
.t2{
    position:absolute;
    width:250;
    height:250;
    display:block;
    border-radius: 50%;
    top:0px;  
    left:30px; 
}
#t2n1{
    position:absolute;
    color:white;
    font-size: 19px;
    font-style: bold;
    font-family: 'Alegreya Sans SC';
    top:240px;
    left:75px;
    padding:0 20px;
}
#t2n2{
    position: absolute;
    color:white;
    font-size:18px;
    font-family: 'Alegreya Sans SC';
    top:275px;
    left:77px;
    padding:0 50px;
}
.t2b{
    position:absolute;
    top:350px;
    left:55px;
}
#ts{
    height:60px;
    width:60px;
}
.at3{
    position:absolute;
    top:230px;
    left:910px;
    border:transparent;
    background-color: rgba(2, 2, 2, 0.849);
    height:420px;
    width:300px;
}
.t3{
    position:absolute;
    width:250;
    height:250;
    display:block;
    border-radius: 50%;
    top:0px;  
    left:30px; 
}
#t3n1{
    position:absolute;
    color:white;
    font-size: 19px;
    font-style: bold;
    font-family: 'Alegreya Sans SC';
    top:240px;
    left:40px;
    padding:0 70px;
}
#t3n2{
    position: absolute;
    color:white;
    font-size:18px;
    font-family: 'Alegreya Sans SC';
    top:275px;
    left:50px;
    padding:0 40px;
}
.t3b{
    position:absolute;
    top:350px;
    left:95px;
}
#ts{
    height:60px;
    width:60px;
}
.td1{
    position:absolute;
    top:680px;
    left:450px;
    font-family: 'Adamina','Verdana, Geneva, Tahoma, sans-serif';
    font-size:30px;
}
.td1 p{
    font-family: 'Adamina','Verdana, Geneva, Tahoma, sans-serif';
    font-size:20px;
    color:white;
}
.td2{
    position:absolute;
    top:710px;
    left:580px;
    font-family: 'Adamina','Verdana, Geneva, Tahoma, sans-serif';
    font-size:30px;
}
.td2 p{
    font-family: 'Adamina','Verdana, Geneva, Tahoma, sans-serif';
    font-size:20px;
    color:white;
}
.blue{
    background-color: rgba(98, 138, 226, 0.87);
}
.s7{
    width:80%;
    height:600px;
    padding:100px 150px;
    position:relative;
}
.form_det{
    position:absolute;
    height:500px;
    width:500px;
    border:transparent;
    top:80px;
    left:250px;
    
}
.form_det h1{
    font-size: 40px;
    color:whitesmoke;
}
.form_det p{
    font-family: 'Actor';
    position: absolute;
    font-size: 18px;
    color:white;
    text-decoration:none;
}
#i1{
    top:210px;
    left:0px;
}
#i2{
    top:210px;
    left:230px;
}
#i3{
    top:310px;
    left:0px;
}
#i4{
    top:310px;
    left:230px;
}
#i5{
    top:390;
    left:0px;
}
#i6{
    top:390;
    left:230px;
}
.form_det p img{
    float: left;
    position: relative;
    top:-8px;
}
#l2{
    font-size:18px;
    color:whitesmoke;
    font-family: 'Actor';
}
.form{
    position:absolute;
    height:500px;
    width:600px;
    border:transparent;
    top:100px;
    left:750px;
}
#fname{
    position: absolute;
    top:5px;
    border:1px solid rgba(160, 157, 157, 0.452);
    padding: 22px 20px;
    border-radius: 5px;
    width:500px;
    margin:0px 30px;
    font-family: 'Actor';
    font-size: 18px;

}
#femail{
    position:absolute;
    top:100px;
    border:1px solid rgba(160, 157, 157, 0.452);
    padding: 22px 20px;
    border-radius: 5px;
    width:500px;
    margin:0px 30px;
    font-family: 'Actor';
    font-size: 18px;
}
#fmessage{
    position:absolute;
    top:200px;
    border:1px solid rgba(160, 157, 157, 0.452);
    padding: 12px 20px;
    border-radius: 5px;
    margin:0px 30px;
    font-family: 'Actor';
    font-size: 18px;
}
hr{
    top:560px;
    position: relative;
}
footer{
    position: relative;
    top:600px;
    left:480px;
    font-size: 20px;
    font-family: 'Actor';
    color:rgb(63, 62, 62);
}