#section1 {
padding-top:200px;
height:675px;
color: #fff; 
background-image: url("Images/c.jpg");
background-repeat: no-repeat;
background-size: 100% 675px;
  position: relative;
background-position: center;
color: #fff; 
}
#section2 {
height:680px;
width: 100%;
padding-top: 55px;
background-color: grey;
background-size: 100% 100%;
position: relative;
}
#section3 {
padding-top:50px;
height:500px;
color: #fff; 
background-color: #673ab7;
padding-top:100px;
height:675px;
background-image: url("Images/b.jpg");
background-repeat: no-repeat;
background-size: 100% 675px;
}
#section4 {
padding-top:50px;
color: #fff; 
background-color: #673ab7;
height:675px;
color: #fff; 
background-color: black;
background-repeat: no-repeat;
background-size: 100% 700px;
  position: relative;
background-position: center;
}
#rcorners1 {
    border-radius: 25px;
    background: grey;
    padding: 20px; 
    width: 98%;
    height: 30%; 
}
#section51 {
padding-top:50px;
height:500px;
color: #fff; 
height:675px;
background-size: 100% 700px;
background-image: url(Images/pop.jpg) ;
background-repeat: no-repeat;
background-size: 100% 700px;
  position: relative;
background-position: center;
}
#section52 {
padding-top:50px;
height:500px;
color: #fff; 
height:675px;
background-size: 100% 700px;
background-image: url(Images/pop.jpg) ;
background-repeat: no-repeat;
background-size: 100% 700px;
  position: relative;
background-position: center;
}
.navbar-brand {
  padding: 0px;
}
.navbar-brand>img {
  height: 90%;
  padding: 0px;
  width: 200px;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

.hero-text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}
.hero-text button:hover {
  background-color: #555;
  color: white;
}
.sbox1{
    width:550px;
    padding: 0;
    float: left;
}
.sbox2{
    width:550px;
    padding: 0;
    float: right;
}
.a1{
    width: 100%;
    margin: 0 auto 0 auto;
    padding: 0px;
    overflow: auto;
text-align: left;
font-size: 30px;
}
.a2{
    background-color: #fafbff;
}
.a3{
    width: 100%;
    margin: 0 auto 0 0;
    padding: 50px;
    overflow: auto;
}
.a4{
    width: 100%;
    margin: 0 15px 0 15px;
    padding: 40px;
    overflow: auto;
}
.people{
	width: 22%;
    text-align: center;
    margin-right: 10px;
    float: left;
}
.t{

padding-left: 0px; 
margin: 0px 15px 0px 15px;
display: inline-block;	
border-thickness: 20px;
border-radius: 50%;
border: solid white;

}
.img1 {

background-width: 100%;
border-radius: 100%;
height: 200px;
width: 200px;

}
.name{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
	margin-left: 5%;
}
.designation{
    margin-top: 0;
    color: grey;
   margin-left: 5%;
float: center;
margin-bottom: 0px; 
   font-family: 'Raleway', sans-serif;
}
.icons{
    text-decoration: none;
    width: 50px;
    margin: 5px;
    border-radius: 50%;
    display: inline-block;
}
.dbox{
    width: 800px;
    padding: 10px;
    text-align: center;
    margin: 0px auto;
    color: grey;
    font-size: 22px !important;
    font-family: 'Raleway', sans-serif;
}
.fa {
    padding: 10px;
    
    text-align: center;
    text-decoration: none;   
}
.fab{ border-radius: 50%;
font-size: 30px;
    width: 50px;
    height: 50px;
}
.fa-pinterest {
  background: #cb2027;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}
.fa-facebook {
    background: #3B5998;
    color: white;
}
.fa-twitter {
    background: #55ACEE;
    color: white;
}
.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}
.fa-sq {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    height: 70px;
    text-align: center;
    text-decoration: none;
    border: 2px solid black;
}
#tp {
	float: center;
}
.k { 
		padding: 40px 10px 4px 200px;
		font-size: 22px;
		display: inline-block;
		width: 40%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 10px;
    resize: vertical;
    background-color: white;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container1 {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    color: black;
}
