.form1{
    top: 50px;
    left: 50px;
}

h1{
    margin-left: 80px;
    margin-top: 50px;
}

.button{
    background-color: cornflowerblue;
    color: white;
    border: none;
}

.button:hover{
    background-color: royalblue;
    color: white;
    border: none;
}

#email{
    border: none;
}

#password{
    border: none;
}